.descriptionSection{
    padding:4rem 2rem;
    display:flex;
    position: relative; 
}
.descriptionSection img{
    width:48vw;
    height:83vh;
    margin:60px 0;
    object-fit: cover;
}
.descriptionSection>div{
    background-color: #f3f4f6;
    width:670px;
    height:100vh;
    padding:6rem;
    position: absolute;
    left:45%;
    z-index: -1;
    flex-grow: 10;
}
.descriptionContent{
    display:flex;
    flex-direction: column;
    width:90%;
    justify-content: center;
    height:100%;
    margin-left: 4rem;
}

.descriptionContent>p{
    color:rgb(75 85 99);
    margin-top: 1rem;
}
#descriptionButton{
    margin-top: 2rem;
    /* width:150px; */
    color:white;
    background-color: #4f46e5;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 600;
    border:none;
    padding:0.75rem 3rem;
    width:45%;
    border-radius:0.25rem;
    cursor: pointer;
}
#descriptionButton:hover{
    border:2px solid #4f46e5;
    color:#4f46e5;
    background-color: transparent;
}
